.gradle
gradle/.DS_Store
.DS_Store

# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

#our build stuff
build.sh
build.bat

# other
eclipse
run
=======
gradlew
